{% extends 'adminControl/adminBase.html' %}
{% load static %}

{% block general %}

<div class="card mb-4">
    <div class="card-body">
        <h1>Show Subscription Share List</h1>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Subscription No</th>
                    <th class="text-center">Subscription Icon</th>
                    <th class="text-center">Subscription Title</th>
                    <th class="text-center">Subscription Description</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for whySubscriptionShareList in whySubscriptionShareLists %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <div class="shadow bg-body-tertiary rounded" style="width: 80px; height: 60.5px;">
                            <img src="{{ whySubscriptionShareList.icon.url }}" alt="Image of Subscription Share"
                                style="width: 100%; height: 100%;">
                        </div>
                    </td>
                    <td class="text-center">{{ whySubscriptionShareList.modelTitle }}</td>
                    <td class="text-center">{{ whySubscriptionShareList.modelDescription }}</td>
                    <td class="text-center">
                        <a href="{% url 'updateWhySubscriptionShareList' whySubscriptionShareList.id %}">
                            <button class="btn btn-primary">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </a>

                        <a href="{% url 'deleteWhySubscriptionShareList' whySubscriptionShareList.id %}">
                            <button class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>


<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 4,
            "lengthMenu": [[4, 10, 25, 50, -1], [4, 10, 25, 50, "All"]]
            // "order": [[1, "asc"]]  // Set default ordering on the second column
        });
    });
</script>

{% endblock %}