{% extends 'adminControl/adminBase.html' %}
{% load static %}

{% block general %}
<div class="card mb-4">
    <h5 class="card-header">General Details</h5>
    <!-- Account -->

    <div class="card-body">
        <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex">
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="{{ current_domain }}/media/{{ form.favicon.value }}" alt="user-avatar"
                            class="d-block rounded" height="100" width="100" id="uploadedFavicon" />
                        <div class="button-wrapper">
                            <label for="favicon" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload Favicon</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="favicon" name="favicon" class="account-file-input" hidden
                                    accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block" id="resetFavicon">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="{{ current_domain }}/media/{{ form.navLogo.value }}" alt="user-avatar"
                            class="d-block rounded  bg-dark p-2" height="100" width="100" id="uploadedNavLogo" />
                        <div class="button-wrapper">
                            <label for="navLogo" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload Nav logo</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="navLogo" name="navLogo" class="account-file-input" hidden
                                    accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block" id="resetNavLogo">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="{{ current_domain }}/media/{{ form.banner.value }}" alt="user-avatar"
                            class="d-block rounded" width="100" id="uploadedBanner" />
                        <div class="button-wrapper">
                            <label for="banner" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload Banner</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="banner" name="banner" class="account-file-input" hidden
                                    accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block" id="resetBanner">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4" />
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="title" class="form-label">title</label>
                    <input class="form-control" type="text" id="title" name="title" placeholder="Title here"
                        value="{{ form.title.value}}" autofocus />
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">BD (+88)</span>
                        <input type="text" id="phoneNumber" name="contact" class="form-control"
                            placeholder="00000-000000" value="{{ form.contact.value }}" />
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="buttonText" class="form-label">Button Text</label>
                    <input type="text" class="form-control" id="address" name="buttonText" placeholder="Button Text"
                        value="{{ form.buttonText.value }}" />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                        value="{{ form.address.value }}" />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="state" class="form-label">State</label>
                    <input class="form-control" type="text" id="state" name="state" placeholder="Dhaka"
                        value="{{ form.state.value }}" />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{ form.zipCode.value }}"
                        placeholder="1234" maxlength="6" />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="state" class="form-label">City</label>
                    <input class="form-control" type="text" id="state" name="city" placeholder="Dhaka"
                        value="{{ form.city.value }}" />
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                    <button type="reset" class="btn btn-outline-secondary" id="cancelBtn">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="bs-toast toast toast-placement-ex m-2 show fade {% if message.tags == 'error' %}bg-danger text-white{% else %}bg-success text-white{% endif %}"
    role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000"
    style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Notification</div>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}


<script>
    // Preview function for Favicon
    document.getElementById('favicon').onchange = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            document.getElementById('uploadedFavicon').src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    // Preview function for Nav Logo
    document.getElementById('navLogo').onchange = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            document.getElementById('uploadedNavLogo').src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    // Preview function for Banner
    document.getElementById('banner').onchange = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            document.getElementById('uploadedBanner').src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    // Reset function for Favicon
    document.getElementById('resetFavicon').onclick = function () {
        document.getElementById('uploadedFavicon').src = '{{ current_domain }}/media/{{ form.favicon.value }}';
        document.getElementById('favicon').value = '';  // Reset the file input
    };

    // Reset function for Nav Logo
    document.getElementById('resetNavLogo').onclick = function () {
        document.getElementById('uploadedNavLogo').src = '{{ current_domain }}/media/{{ form.navLogo.value }}';
        document.getElementById('navLogo').value = '';  // Reset the file input
    };

    // Reset function for Banner
    document.getElementById('resetBanner').onclick = function () {
        document.getElementById('uploadedBanner').src = '{{ current_domain }}/media/{{ form.banner.value }}';
        document.getElementById('banner').value = '';  // Reset the file input
    };
</script>

{% endblock %}