{% extends 'adminControl/adminBase.html' %} {% load static %}
{% block general %}
<div class="card mb-4">
    <h5 class="card-header">Update Privacy Core</h5>
    <!-- Account -->

    <div class="card-body">
        <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <h2>Privacy Core Details</h2>
            <div class="d-flex">
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="http://127.0.0.1:8000/media/{{ privacyCoreImageForm.image.value }}" alt="user-avatar"
                            class="d-block rounded" width="90px" id="uploadedImage" />
                        <div class="button-wrapper">
                            <label for="image" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload Image</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="image" name="image" class="account-file-input" hidden
                                    accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block" id="resetImage">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="http://127.0.0.1:8000/media/{{ privacyCoreForm.icon.value }}" alt="user-avatar"
                            class="d-block rounded p-2" width="50px" id="uploadedIcon" />
                        <div class="button-wrapper">
                            <label for="icon" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload Icon</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="icon" name="icon" class="account-file-input" hidden
                                    accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block" id="resetIcon">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4" />
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="title" class="form-label">Privacy Core Title</label>
                    <input class="form-control" type="text" id="title" name="title" placeholder="Privacy Title here"
                        autofocus value="{{ privacyCoreForm.title.value }}" />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        placeholder="Description" value="{{ privacyCoreForm.description.value }}" />
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                    <button type="reset" class="btn btn-outline-secondary" id="cancelBtn">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>

    const iconInput = document.getElementById('icon');
    const uploadedIcon = document.getElementById('uploadedIcon');
    const resetIconBtn = document.getElementById('resetIcon');
    const originalIconSrc = uploadedIcon.src;

    iconInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                uploadedIcon.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    resetIconBtn.addEventListener('click', function () {
        iconInput.value = "";
        uploadedIcon.src = originalIconSrc;
    });

    const imageInput = document.getElementById('image');
    const uploadedImage = document.getElementById('uploadedImage');
    const resetImageBtn = document.getElementById('resetImage');
    const originalImageSrc = uploadedImage.src;

    imageInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                uploadedImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    resetImageBtn.addEventListener('click', function () {
        imageInput.value = "";
        uploadedImage.src = originalImageSrc;
    });


    document.getElementById("cancelBtn").onclick = function () {
        window.location.href = "{% url 'showPrivacyCore' %}";
    };
</script>

{% endblock %}