<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ generalData.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ current_domain }}/media/{{ generalData.favicon }}">
  <!--/ Favicon -->
  {% block link %} {% endblock %}
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header>
    {% include 'navbar/navbar.html' %}
  </header>
  <main>
    <div class="HeroSection">
      {% include 'mainBody/mainBody.html' %}
    </div>
    <div class="trustedPartner">
      {% include 'trustedPartner/showTrustedPartner.html' %}
    </div>
    <div class="commercialServices">
      {% include 'commercialServices/commercialServices.html' %}
    </div>
    <div class="interactivePlatform">
      {% include 'interactivePlatform/interactivePlatform.html' %}
    </div>
    <div class="subscriptionShare">
      {% include 'subscriptionShare/subscriptionShare.html' %}
    </div>
    <div class="subscriptionPackage">
      {% include 'subscriptionPackage/subscriptionPackage.html' %}
    </div>
    <div class="privacyCore">
      {% include 'privacyCore/privacyCore.html' %}
    </div>
    <div class="cleaningServices">
      {% include 'cleaningServices/cleaningServices.html' %}
    </div>
    <div class="cqdAdvantage">
      {% include 'cqdAdvantage/cqdAdvantage.html' %}
    </div>
    <div class="contactUs">
      {% include 'contactUs/contactUs.html' %}
    </div>
  </main>
</body>

</html>