{% extends 'adminControl/adminCreation/adminUserBase.html' %}
{% load static %}

{% block content %}
<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
            <img src="{{ current_domain }}/media/{{ form.favicon.value }}" alt="Admin Panel"
                style="width: 30px; height: 30px" />
        </span>
        <span class="app-brand-text fs-2 text-body fw-bolder">{{ form.title.value }}</span>
    </a>
</div>
<!-- /Logo -->
<h4 class="mb-2">Welcome to {{ form.title.value }} 👋</h4>
<p class="mb-4">Please sign-in to your account and start the adventure</p>

<form id="formAuthentication" class="mb-3" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus />
    </div>
    <div class="mb-3 form-password-toggle">
        <div class="d-flex justify-content-between">
            <label class="form-label" for="password">Password</label>
            <a href="{% url 'password_reset' %}">
                <small>Forgot Password?</small>
            </a>
        </div>
        <div class="input-group input-group-merge">
            <input type="password" id="password" class="form-control" name="password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
    </div>
</form>

<p class="text-center">
    <span>New on our platform?</span>
    <a href="{% url 'register' %}">
        <span>Create an account</span>
    </a>
</p>

{% if messages %}
{% for message in messages %}
<div class="bs-toast toast toast-placement-ex m-2 show fade {% if message.tags == 'error' %}bg-danger text-white{% endif %}"
    role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000"
    style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Notification</div>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}