{% extends 'adminControl/adminCreation/adminUserBase.html' %}
{% load static %}

{% block content %}
<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
            <img src="{{ current_domain }}/media/{{ form.favicon.value }}" alt="Admin Panel"
                style="width: 30px; height: 30px" />
        </span>
        <span class="app-brand-text demo text-body fw-bolder">{{ form.title.value }}</span>
    </a>
</div>
<!-- /Logo -->
<h4 class="mb-2">Forgot Password? 🔒</h4>
<p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
<form id="formAuthentication" class="mb-3" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus />
    </div>
    <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
</form>
<div class="text-center">
    <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        Back to login
    </a>
</div>


{% if messages %}
{% for message in messages %}
<div class="bs-toast toast toast-placement-ex m-2 show fade {% if message.tags == 'success' %}bg-success text-white {% else %}bg-danger text-white{% endif %}"
    role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000"
    style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Notification</div>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}