{% extends 'adminControl/adminCreation/adminUserBase.html' %}
{% load static %}

{% block content %}
<!-- Logo -->
<div class="app-brand justify-content-center">
    <a href="" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
            <img src="{{ current_domain }}/media/{{ form.favicon.value }}" alt="Admin Panel"
                style="width: 30px; height: 30px" />
        </span>
        <span class="app-brand-text fs-2 text-body fw-bolder">{{ form.title.value }}</span>
    </a>
</div>
<!-- /Logo -->
<h4 class="mb-2">Adventure starts here 🚀</h4>
<p class="mb-4">Make your app management easy and fun!</p>

{% if validlink %}
<form id="formAuthentication" class="mb-3" method="POST">
    {% csrf_token %}
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="new_password1">New Password</label>
        <div class="input-group input-group-merge">
            <input type="password" id="new_password1" class="form-control" name="new_password1"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="new_password2">Confirm New Password</label>
        <div class="input-group input-group-merge">
            <input type="password" id="new_password2" class="form-control" name="new_password2"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary d-grid w-100">Change Password</button>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>
{% endif %}


{% if messages %}
{% for message in messages %}
<div class="bs-toast toast toast-placement-ex m-2 show fade {% if message.tags == 'success' %}bg-success text-white {% else %}bg-danger text-white{% endif %}"
    role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000"
    style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Notification</div>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}