{% load static %}

<div
    class="h-[80vh] w-[97%] mx-[27px] inline-flex flex-col justify-center items-start gap-12 px-[262px] py-[120px] rounded-2xl bg-gradient-to-b from-[rgba(133,210,255,0.60)] to-[rgba(214,238,255,0.60)]">
    <span class="text-[#0459E5] font-medium text-[18px] leading-[27px] font-poppins">
        {{ whySubscriptionShares.title }}</span>
    <span
        class="self-stretch text-[#0F2A5C] font-semibold text-[48px] leading-[62.4px] font-poppins font-feature-no-ligatures">
        {{ whySubscriptionShares.subTitle }}</span>

    <div class="flex flex-wrap gap-8 self-stretch">
        {% for whySubscriptionShareList in whySubscriptionShareLists %}
        <div class="rounded-[12px] bg-[#FFF] flex p-6 items-start gap-2 w-[48%]">
            <div class="rounded-[59.733px] border border-[#0459E5] flex w-16 h-16 p-4 justify-center items-center">
                <img src="{{ whySubscriptionShareList.icon.url }}" alt="Icon">
            </div>
            <div class="ms-2">
                <p class="text-[#0F2A5C] font-semibold text-[20px] leading-[30px] font-poppins self-stretch">
                    {{ whySubscriptionShareList.modelTitle }}</p>
                <p
                    class="text-[#5B6477] font-normal text-[16px] leading-[24px] font-poppins self-stretch font-feature-no-ligatures">
                    {{ whySubscriptionShareList.modelDescription }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>




</div>