{% extends 'adminControl/adminBase.html' %}
{% load static %}

{% block general %}

<div class="card mb-4">
    <div class="card-body">
        <h1>Show Interactive Platform List</h1>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center w-px-20">Platform No</th>
                    <th class="text-center">Platform Img</th>
                    <th class="text-center">Icon</th>
                    <th class="">Platform Title</th>
                    <th class="">Platform Description</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for interactivePlatformList in interactivePlatformLists %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>
                        <div class=" d-flex justify-content-center align-items-center" style="width: 100%;">
                            <img src="{{ interactivePlatformList.interactivePlatform.image.url }}"
                                alt="Image of Interactive Platform" style="width: 60px;"
                                class="shadow bg-body-tertiary rounded">
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="shadow p-3 bg-body-tertiary rounded " style="width: 60px;">
                            <img src="{{ interactivePlatformList.icon.url }}" alt="Icon of Interactive Platform"
                                style="width: 100%;">
                        </div>
                    </td>
                    <td class="">{{ interactivePlatformList.title }}</td>
                    <td class="">{{ interactivePlatformList.description }}</td>
                    <td class="text-center">
                        <a href="{% url 'updateInteractivePlatformList' pk=interactivePlatformList.pk %}">
                            <button class="btn btn-primary">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="bs-toast toast toast-placement-ex m-2 show fade {% if message.tags == 'success' %}bg-success text-white{% endif %}"
    role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000"
    style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold">Notification</div>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}


<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 5,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            // "order": [[1, "asc"]]  // Set default ordering on the second column
        });
    });
</script>

{% endblock %}